
<article class="default">
{{- if .Params.heroImage }}
<div class="hero-image-wrapper">
  <figure class="hero-image">
    <img src="{{ .Params.heroImage }}" alt="{{ .Params.heroImageAlt | default .Title }}" />
    {{- if .Params.heroImageCaption }}
    <figcaption>{{ .Params.heroImageCaption | markdownify }}</figcaption>
    {{- end }}
  </figure>
</div>
{{- end }}
  <header class="headline">
    {{- partial "content-header.html" . }}
  </header>
{{ partial "heading-pre.html" . }}{{ partial "heading.html" . }}{{ partial "heading-post.html" . }}

{{ partial "article-content.html" . }}
  <footer class="footline">
    {{- partial "content-footer.html" . }}
  </footer>
</article>
