{{- $assetBusting := partialCached "assetbusting.gotmpl" . }}
<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="{{ "images/favicon.ico" | relURL }}{{ $assetBusting }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "images/favicon-32x32.png" | relURL }}{{ $assetBusting }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "images/favicon-16x16.png" | relURL }}{{ $assetBusting }}">

<!-- Apple Touch Icon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ "images/apple-touch-icon.png" | relURL }}{{ $assetBusting }}">

<!-- Android Chrome Icons -->
<link rel="icon" type="image/png" sizes="192x192" href="{{ "images/android-chrome-192x192.png" | relURL }}{{ $assetBusting }}">
<link rel="icon" type="image/png" sizes="512x512" href="{{ "images/android-chrome-512x512.png" | relURL }}{{ $assetBusting }}">
