{{- partial "topbar/button/edit.html" (dict
	"page" .
)}}
{{- partial "topbar/button/source.html" (dict
	"page" .
)}}
{{- partial "topbar/button/markdown.html" (dict
	"page" .
)}}
{{- partial "topbar/button/print.html" (dict
	"page" .
)}}
{{- partial "topbar/button/prev.html" (dict
	"page" .
)}}
{{- partial "topbar/button/next.html" (dict
	"page" .
)}}
{{- partial "topbar/button/more.html" (dict
	"page" .
)}}
{{- $bookLinks := dict
  "how-machines-think" (dict "en" "https://www.amazon.com/dp/B0GQD23YVM" "es" "https://www.amazon.es/dp/B0GQD33N6T")
  "learning-without-a-teacher" (dict "en" "" "es" "")
  "eyes-and-ears" (dict "en" "" "es" "")
}}
{{- $section := .Section }}
{{- $lang := .Language.LanguageCode }}
{{- $link := index (index $bookLinks $section) $lang }}
{{- if $link }}
<div class="topbar-button topbar-button-buy">
<a class="topbar-control" href="{{ $link }}" title="Buy the Book" target="_blank">
<i class="fa-fw fas fa-shopping-cart"></i> Buy
</a>
</div>
{{- end }}