{{ $lang := (.Get "lang") | default .Site.Language.Lang }}

<link rel="stylesheet" href="/css/main.css">

<div id="app-explanation">
    {{ if eq $lang "es" }}
    <p class="intro">Explora en 1D y 2D cómo el descenso del gradiente converge hacia el mínimo de una función. Ajusta
        el tipo de tasa de aprendizaje y el punto de partida para comprender mejor su comportamiento.</p>

    <p>
        En esta simulación, puedes visualizar ese proceso. El gráfico de la izquierda muestra la superficie de la
        función de coste (en este caso, el Error Cuadrático Medio o MSE). Cada punto en esta superficie representa el
        error total para una combinación específica de <em>w</em> y <em>b</em>. El objetivo es encontrar el punto más
        bajo del valle.
    </p>
    <p>
        Usa los controles para iniciar el algoritmo. Observa cómo los parámetros se actualizan en cada iteración
        (gráfico de la derecha), siguiendo la dirección opuesta al gradiente, hasta converger en la solución óptima que
        minimiza el error. Puedes experimentar con diferentes tasas de aprendizaje (<em>learning rate</em>) para ver
        cómo afecta a la velocidad y estabilidad del proceso.
    </p>
    {{ else }}
    <p class="intro">Explore in 1D and 2D how gradient descent converges toward the minimum of a function. Adjust
        the learning rate type and starting point to better understand its behavior.</p>

    <p>
        In this simulation, you can visualize that process. The left graph shows the surface of the
        cost function (in this case, Mean Squared Error or MSE). Each point on this surface represents the
        total error for a specific combination of <em>w</em> and <em>b</em>. The goal is to find the lowest
        point in the valley.
    </p>
    <p>
        Use the controls to start the algorithm. Watch how the parameters are updated in each iteration
        (right graph), following the direction opposite to the gradient, until converging on the optimal solution that
        minimizes the error. You can experiment with different learning rates to see
        how it affects the speed and stability of the process.
    </p>
    {{ end }}
</div>